header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.slide-content-wrapper-top {
	position: fixed;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	height: 88%;
	top: 0; 
	left: 0;
}

.slide-content-wrapper-bottom {
	position: absolute;
	top: 87%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
}
